fastapi[standard]==0.109.0
uvicorn==0.27.0
pytest==8.0.0
httpx==0.27.0
black==24.1.1
flake8==7.0.0
SQLAlchemy>=2.0.28
psycopg2-binary>=2.9.9
pgvector>=0.2.5
python-dotenv>=1.0.0
pydantic>=2.6.0
email-validator
pydantic-settings>=2.2.0
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
email-validator>=2.1.0
