name: Backend Pipeline

on:
  pull_request:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/backend-ci.yml"
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/backend-ci.yml"
  workflow_dispatch:

defaults:
  run:
    working-directory: ./backend

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: check formatting using black
        run: black --check .

      - name: check logic using flake8
        run: flake8 .
      - name: smoke test
        run: pytest

      - name: setup buildx
        if: github.event_name == 'push'
        uses: docker/setup-buildx-action@v3

      - name: login to Docker Hub and push image
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build docker image and push it to dockerhub
        if: github.event_name == 'push'
        run: |
          docker buildx build --push \
          -t ${{ vars.DOCKERHUB_USERNAME }}/curamind-backend:${{ github.sha }} .

      - name: slack notification
        if: always()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_COLOR: ${{ job.status == 'success' && 'good' || 'danger' }}
          SLACK_TITLE: "BACKEND: ${{ job.status }}"
          SLACK_MESSAGE: "Branch: ${{ github.ref_name }} \nMode: ${{ github.event_name }} \nCommit: ${{ github.event.head_commit.message }}"
