name: CURAMIND CI Pipeline
on:
  push:
    branches:
      - main
  workflow_dispatch:
defaults:
  run:
    working-directory: ./backend
jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      - name: install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: check formatting using black
        run: black --check .
      - name: check logic using flake8
        run: flake8 .
      - name: slack notification
        if: always()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{secrets.SLACK_WEBHOOK_URL}}
          SLACK_COLOR: ${{ job.status == 'success' && 'good' || 'danger' }}
          SLACK_TITLE: "BUILD: ${{job.status}} | USER: ${{github.actor}}"
          SLACK_MESSAGE: "Branch: ${{ github.ref_name }} \nCommit: ${{ github.event.head_commit.message }}"
